@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

article {
  overflow: hidden; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 0; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  background-color: none; }

::-webkit-scrollbar-thumb {
  width: 4px;
  height: 10px;
  background: #e54e53; }

::-moz-selection {
  color: #FFFFFF;
  background-color: #e54e53; }

::selection {
  color: #FFFFFF;
  background-color: #e54e53; }

html, body {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  color: #34495e;
  font-size: 15px;
  line-height: 1.6;
  background-color: #fff;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif; }

body.menu-open {
  overflow: hidden; }
  body.menu-open .site-header .site-nav .button-toggle {
    background-color: transparent !important; }
    body.menu-open .site-header .site-nav .button-toggle:before {
      opacity: 1;
      transform: translate(0px, 6px) rotate(-45deg); }
    body.menu-open .site-header .site-nav .button-toggle:after {
      opacity: 1;
      transform: translate(0px, -6px) rotate(45deg); }
  body.menu-open .site-nav .container {
    left: 0; }
  body.menu-open .site-header:before {
    content: "";
    opacity: 0.75;
    visibility: visible; }

ul.nav,
ul.post-list,
ul.archive-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

ul {
  margin: 1rem 0;
  padding: 0; }

a, a:active {
  color: #2c3e50;
  text-decoration: none; }

a.nav-list-link.active,
a.nav-list-link:hover,
a.post-title-link:hover {
  border-bottom: 2px solid #42b983; }

a.scroll-up {
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  background-color: #e54e53;
  color: #fff;
  cursor: pointer;
  line-height: 38px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px; }
  a.scroll-up span {
    display: block;
    font-size: 26px; }

hr {
  border: 0; }

code {
  margin: 0 2px;
  padding: 3px 5px;
  color: #e96900;
  border-radius: 2px;
  white-space: inherit; }

iframe, video {
  max-width: 100%;
  margin: 1rem auto;
  display: block; }

table {
  width: 100%;
  margin: 1em auto; }
  table thead {
    background-color: #ddd; }
    table thead th {
      padding: 5px;
      min-width: 80px; }
  table tbody tr:nth-child(2n) {
    background-color: #eee; }
  table tbody td {
    padding: 5px;
    vertical-align: text-top; }

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(55px, 9999px, 9px, 0); }
  5% {
    clip: rect(12px, 9999px, 60px, 0); }
  10% {
    clip: rect(85px, 9999px, 83px, 0); }
  15% {
    clip: rect(83px, 9999px, 84px, 0); }
  20% {
    clip: rect(39px, 9999px, 69px, 0); }
  25% {
    clip: rect(41px, 9999px, 7px, 0); }
  30% {
    clip: rect(32px, 9999px, 6px, 0); }
  35% {
    clip: rect(75px, 9999px, 19px, 0); }
  40% {
    clip: rect(5px, 9999px, 63px, 0); }
  45% {
    clip: rect(55px, 9999px, 43px, 0); }
  50% {
    clip: rect(80px, 9999px, 71px, 0); }
  55% {
    clip: rect(67px, 9999px, 69px, 0); }
  60% {
    clip: rect(45px, 9999px, 99px, 0); }
  65% {
    clip: rect(67px, 9999px, 93px, 0); }
  70% {
    clip: rect(12px, 9999px, 69px, 0); }
  75% {
    clip: rect(58px, 9999px, 28px, 0); }
  80% {
    clip: rect(53px, 9999px, 40px, 0); }
  85% {
    clip: rect(86px, 9999px, 22px, 0); }
  90% {
    clip: rect(35px, 9999px, 100px, 0); }
  95% {
    clip: rect(99px, 9999px, 30px, 0); }
  100% {
    clip: rect(8px, 9999px, 51px, 0); } }

@keyframes noise-anim {
  0% {
    clip: rect(55px, 9999px, 9px, 0); }
  5% {
    clip: rect(12px, 9999px, 60px, 0); }
  10% {
    clip: rect(85px, 9999px, 83px, 0); }
  15% {
    clip: rect(83px, 9999px, 84px, 0); }
  20% {
    clip: rect(39px, 9999px, 69px, 0); }
  25% {
    clip: rect(41px, 9999px, 7px, 0); }
  30% {
    clip: rect(32px, 9999px, 6px, 0); }
  35% {
    clip: rect(75px, 9999px, 19px, 0); }
  40% {
    clip: rect(5px, 9999px, 63px, 0); }
  45% {
    clip: rect(55px, 9999px, 43px, 0); }
  50% {
    clip: rect(80px, 9999px, 71px, 0); }
  55% {
    clip: rect(67px, 9999px, 69px, 0); }
  60% {
    clip: rect(45px, 9999px, 99px, 0); }
  65% {
    clip: rect(67px, 9999px, 93px, 0); }
  70% {
    clip: rect(12px, 9999px, 69px, 0); }
  75% {
    clip: rect(58px, 9999px, 28px, 0); }
  80% {
    clip: rect(53px, 9999px, 40px, 0); }
  85% {
    clip: rect(86px, 9999px, 22px, 0); }
  90% {
    clip: rect(35px, 9999px, 100px, 0); }
  95% {
    clip: rect(99px, 9999px, 30px, 0); }
  100% {
    clip: rect(8px, 9999px, 51px, 0); } }

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 50px, 0); }
  5% {
    clip: rect(97px, 9999px, 8px, 0); }
  10% {
    clip: rect(71px, 9999px, 79px, 0); }
  15% {
    clip: rect(72px, 9999px, 84px, 0); }
  20% {
    clip: rect(59px, 9999px, 36px, 0); }
  25% {
    clip: rect(44px, 9999px, 39px, 0); }
  30% {
    clip: rect(94px, 9999px, 60px, 0); }
  35% {
    clip: rect(78px, 9999px, 37px, 0); }
  40% {
    clip: rect(84px, 9999px, 29px, 0); }
  45% {
    clip: rect(27px, 9999px, 27px, 0); }
  50% {
    clip: rect(61px, 9999px, 87px, 0); }
  55% {
    clip: rect(100px, 9999px, 33px, 0); }
  60% {
    clip: rect(68px, 9999px, 4px, 0); }
  65% {
    clip: rect(100px, 9999px, 84px, 0); }
  70% {
    clip: rect(44px, 9999px, 57px, 0); }
  75% {
    clip: rect(90px, 9999px, 69px, 0); }
  80% {
    clip: rect(88px, 9999px, 22px, 0); }
  85% {
    clip: rect(81px, 9999px, 13px, 0); }
  90% {
    clip: rect(33px, 9999px, 38px, 0); }
  95% {
    clip: rect(1px, 9999px, 34px, 0); }
  100% {
    clip: rect(27px, 9999px, 57px, 0); } }

@keyframes noise-anim-2 {
  0% {
    clip: rect(98px, 9999px, 50px, 0); }
  5% {
    clip: rect(97px, 9999px, 8px, 0); }
  10% {
    clip: rect(71px, 9999px, 79px, 0); }
  15% {
    clip: rect(72px, 9999px, 84px, 0); }
  20% {
    clip: rect(59px, 9999px, 36px, 0); }
  25% {
    clip: rect(44px, 9999px, 39px, 0); }
  30% {
    clip: rect(94px, 9999px, 60px, 0); }
  35% {
    clip: rect(78px, 9999px, 37px, 0); }
  40% {
    clip: rect(84px, 9999px, 29px, 0); }
  45% {
    clip: rect(27px, 9999px, 27px, 0); }
  50% {
    clip: rect(61px, 9999px, 87px, 0); }
  55% {
    clip: rect(100px, 9999px, 33px, 0); }
  60% {
    clip: rect(68px, 9999px, 4px, 0); }
  65% {
    clip: rect(100px, 9999px, 84px, 0); }
  70% {
    clip: rect(44px, 9999px, 57px, 0); }
  75% {
    clip: rect(90px, 9999px, 69px, 0); }
  80% {
    clip: rect(88px, 9999px, 22px, 0); }
  85% {
    clip: rect(81px, 9999px, 13px, 0); }
  90% {
    clip: rect(33px, 9999px, 38px, 0); }
  95% {
    clip: rect(1px, 9999px, 34px, 0); }
  100% {
    clip: rect(27px, 9999px, 57px, 0); } }

@-webkit-keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit; }
  79% {
    color: #333; }
  80% {
    text-shadow: none; }
  81% {
    color: inherit;
    text-shadow: inherit; }
  82% {
    color: #333;
    text-shadow: none; }
  83% {
    color: inherit;
    text-shadow: inherit; }
  92% {
    color: #333;
    text-shadow: none; }
  92.5% {
    color: inherit;
    text-shadow: inherit; } }

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit; }
  79% {
    color: #333; }
  80% {
    text-shadow: none; }
  81% {
    color: inherit;
    text-shadow: inherit; }
  82% {
    color: #333;
    text-shadow: none; }
  83% {
    color: inherit;
    text-shadow: inherit; }
  92% {
    color: #333;
    text-shadow: none; }
  92.5% {
    color: inherit;
    text-shadow: inherit; } }

@-webkit-keyframes beat {
  10% {
    transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  15% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  25% {
    transform: scale(1.1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  35% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes beat {
  10% {
    transform: scale(1.2);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  15% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  25% {
    transform: scale(1.1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  35% {
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

.site-header .site-banner {
  position: relative; }
  .site-header .site-banner img {
    display: block;
    max-width: 100%;
    height: auto; }
  .site-header .site-banner .site-title {
    display: block;
    position: absolute;
    top: 50%;
    margin: 0;
    width: 100%;
    text-align: center; }
    .site-header .site-banner .site-title a {
      position: relative;
      color: white;
      font-size: 1.3em; }
      .site-header .site-banner .site-title a:before {
        content: attr(data-text);
        position: absolute;
        left: -2px;
        text-shadow: 1px 0 inherit;
        top: 0;
        color: inherit;
        background: inherit;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        height: 100%;
        animation: noise-anim-2 3s infinite linear alternate-reverse; }
      .site-header .site-banner .site-title a:after {
        content: attr(data-text);
        position: absolute;
        height: 100%;
        left: 2px;
        text-shadow: -1px 0 inherit;
        top: 0;
        color: inherit;
        background: inherit;
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-anim 2s infinite linear alternate-reverse; }

.site-header .site-nav {
  position: relative;
  height: 46px;
  background-color: #252626;
  z-index: 999; }
  .site-header .site-nav .button-toggle {
    position: absolute;
    left: 20px;
    top: 22px;
    width: 20px;
    height: 2px;
    background-color: #fff;
    content: "";
    opacity: 1;
    transition: opacity 0.3s ease 0s, background 0.3s ease 0s;
    z-index: 20; }
    .site-header .site-nav .button-toggle:before {
      position: absolute;
      top: -6px;
      left: 0;
      width: 20px;
      height: 2px;
      background-color: #fff;
      content: "";
      transform-origin: center center 0;
      transition: transform 0.3s ease 0s, background 0.3s ease 0s; }
    .site-header .site-nav .button-toggle:after {
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 20px;
      height: 2px;
      content: "";
      background-color: #fff;
      transform-origin: center center 0;
      transition: transform 0.3s ease 0s, background 0.3s ease 0s; }
  .site-header .site-nav .container {
    height: 100%; }

.site-header .nav-item {
  display: inline-block;
  color: white;
  line-height: 46px; }
  .site-header .nav-item a {
    display: block;
    padding: 0 20px;
    color: #fff;
    letter-spacing: 1.5px; }
    .site-header .nav-item a:hover {
      background-color: #444; }
  .site-header .nav-item a[data-text="resume"] {
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
    -webkit-animation: blink linear infinite 2s;
            animation: blink linear infinite 2s; }

.site-header:before {
  position: fixed;
  top: 46px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s;
  content: none;
  z-index: 9; }

.site-header form#search-form {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10%; }
  .site-header form#search-form input {
    width: 150px;
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
    box-shadow: none !important; }
  .site-header form#search-form span.fa-times {
    display: none;
    padding: 8px;
    position: relative; }
    .site-header form#search-form span.fa-times:before {
      position: absolute;
      top: 10px;
      left: 0;
      width: 20px;
      height: 1px;
      background-color: #fff;
      content: "";
      transform-origin: center center 0;
      transform: translate(0px, 6px) rotate(45deg); }
    .site-header form#search-form span.fa-times:after {
      position: absolute;
      top: 10px;
      left: 0;
      width: 20px;
      height: 1px;
      background-color: #fff;
      content: "";
      transform-origin: center center 0;
      transform: translate(0px, 6px) rotate(-45deg); }

.site-header div#local-search-result {
  position: absolute;
  width: calc(170px + 10%);
  max-height: 600px;
  overflow-y: scroll;
  top: 46px;
  right: 0;
  background-color: #252626;
  opacity: 0.75;
  color: #ccc;
  z-index: 999; }
  .site-header div#local-search-result ul {
    margin: 0;
    padding: 0; }
  .site-header div#local-search-result li {
    list-style: none; }
    .site-header div#local-search-result li a.search-result-title {
      display: inline;
      color: #ccc;
      border-bottom: 1px solid #bbb; }
    .site-header div#local-search-result li p.search-result {
      line-height: 1.2rem;
      max-height: 3.6rem;
      font-size: 0.85rem;
      color: #999;
      padding-left: 1rem;
      overflow: hidden; }
      .site-header div#local-search-result li p.search-result em.search-keyword {
        color: #e54e53;
        text-decoration: underline; }
    .site-header div#local-search-result li:hover {
      background-color: #444; }

.site-header p.no-result {
  position: absolute;
  top: 46px;
  right: 0;
  display: none;
  width: calc(170px + 10%);
  background-color: #252626;
  opacity: 0.75;
  color: #ccc;
  z-index: 999;
  font-size: 0.85rem;
  margin: 0;
  padding: 0; }

.post {
  padding-top: 1em;
  width: 90%; }

.archive-year {
  border-bottom: 1px solid #eee; }

.post-list-article {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden; }

.post-thumbnail {
  float: left;
  margin: 0 20px 0 0;
  max-width: 220px; }
  .post-thumbnail a img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    opacity: 1;
    transition: opacity .4s; }

.post-thumbnail:hover img {
  opacity: 0.7; }

.post-header {
  margin-bottom: 5px;
  margin-left: 240px; }
  .post-header.archives {
    margin-left: 20px; }

.post-date {
  font-size: 14px; }

.post-tag a {
  position: relative;
  margin-left: 10px;
  padding: 2px 15px 2px 5px;
  border-radius: 2px;
  background-color: #e54e53;
  color: #fff;
  font-size: 14px;
  font-weight: 700; }

.post-tag a:before {
  background-color: #ffffff;
  border-radius: 100%;
  content: "";
  display: block;
  height: 6px;
  margin-top: -3px;
  position: absolute;
  right: 5px;
  top: 50%;
  width: 6px; }

.post-review {
  margin-left: 1em;
  color: #999; }

.post-title {
  margin: 5px 0 0 0;
  font-weight: 400; }
  .post-title a:hover {
    color: #e54e53;
    text-decoration: underline; }

.post-excerpt {
  margin-left: 240px; }
  .post-excerpt p {
    font-size: 14px;
    margin: 0 auto;
    color: #777; }

img.bgimage {
  display: block;
  max-width: 100%;
  margin: 1em 0; }

.post-content {
  margin: 10px auto; }
  .post-content h2 {
    font-size: 20px; }
  .post-content h3 {
    font-size: 18px; }
  .post-content h4, .post-content h5, .post-content h6 {
    font-size: 16px; }
  .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    position: relative;
    padding-bottom: 0.3em;
    line-height: 1.225;
    border-bottom: 1px solid #eee; }
    .post-content h2:after, .post-content h3:after, .post-content h4:after, .post-content h5:after, .post-content h6:after {
      content: "#";
      position: absolute;
      top: 0;
      right: .2rem;
      font-size: .8em;
      display: inline; }
  .post-content a {
    color: #e54e53;
    word-break: break-all; }
    .post-content a:hover {
      text-decoration: underline; }
  .post-content blockquote {
    margin: 2em 0;
    padding-left: 20px;
    border-left: 4px solid #e54e53; }
  .post-content img {
    display: block;
    max-width: 100%; }
  .post-content ul {
    padding-left: 2em; }
  .post-content .tip {
    position: relative;
    margin: 2em 0;
    padding: 12px 24px 12px 30px;
    border-left: 4px solid #f66;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #f8f8f8; }
    .post-content .tip br {
      display: none; }
  .post-content .tip:before {
    position: absolute;
    top: 14px;
    left: -12px;
    content: "!";
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #f66;
    font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif; }

.article-post-list {
  margin-bottom: 2em; }
  .article-post-list .archive-year {
    border-bottom: none;
    margin: 1em 0 0 0; }
  .article-post-list .post-list-article {
    position: relative;
    margin: 0.2em 0;
    overflow: visible; }
    .article-post-list .post-list-article:hover .post-title a {
      text-decoration: underline; }
  .article-post-list .post-date {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    width: 6em;
    height: 1.5em;
    line-height: 1.5em; }
    .article-post-list .post-date:before {
      position: absolute;
      top: 0.5em;
      left: 0;
      width: 0.4em;
      height: 0.4em;
      background-color: #666;
      content: ""; }
  .article-post-list .post-title {
    position: relative;
    display: inline-block;
    padding-left: 1em;
    font-weight: 400;
    height: 1.5em;
    line-height: 1.5em; }
    .article-post-list .post-title a {
      color: #e54e53; }
    .article-post-list .post-title:before {
      position: absolute;
      top: 0;
      left: 0;
      content: "»"; }

#mask {
  position: fixed;
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; }
  #mask #mask-image {
    max-width: 95%; }

code,
pre {
  background-color: #f6f6f6;
  font-family: Consolas,Lato,'Helvetica Neue',Arial,Helvetica,sans-serif; }

.highlight {
  position: relative;
  margin: 1em 0;
  border-radius: 4px;
  line-height: 1.1em;
  background-color: #f6f6f6;
  overflow-x: auto; }
  .highlight table, .highlight tr, .highlight td {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0; }
  .highlight .gutter {
    display: none; }
  .highlight .code pre {
    padding: 1.2em 1.4em;
    line-height: 1.5em;
    margin: 0; }

.highlight.html .code:after, .highlight.js .code:after, .highlight.bash .code:after, .highlight.css .code:after, .highlight.scss .code:after, .highlight.diff .code:after, .highlight.java .code:after, .highlight.xml .code:after, .highlight.python .code:after, .highlight.json .code:after, .highlight.swift .code:after, .highlight.ruby .code:after, .highlight.perl .code:after, .highlight.php .code:after, .highlight.c .code:after, .highlight.cpp .code:after, .highlight.ts .code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: 0.75em;
  padding: 5px 10px 0;
  line-height: 15px;
  height: 15px;
  font-weight: 600; }

.highlight.html .code:after {
  content: "HTML"; }

.highlight.js .code:after {
  content: "JS"; }

.highlight.bash .code:after {
  content: "BASH"; }

.highlight.css .code:after {
  content: "CSS"; }

.highlight.scss .code:after {
  content: "SCSS"; }

.highlight.diff .code:after {
  content: "DIFF"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.xml .code:after {
  content: "XML"; }

.highlight.python .code:after {
  content: "PYTHON"; }

.highlight.json .code:after {
  content: "JSON"; }

.highlight.swift .code:after {
  content: "SWIFT"; }

.highlight.ruby .code:after {
  content: "RUBY"; }

.highlight.perl .code:after {
  content: "PERL"; }

.highlight.php .code:after {
  content: "PHP"; }

.highlight.c .code:after {
  content: "C"; }

.highlight.java .code:after {
  content: "JAVA"; }

.highlight.cpp .code:after {
  content: "CPP"; }

.highlight.ts .code:after {
  content: "TS"; }

.highlight.cpp .code:after {
  content: 'C++'; }

pre {
  color: #525252; }
  pre .function .keyword,
  pre .constant {
    color: #0092db; }
  pre .keyword,
  pre .attribute {
    color: #e96900; }
  pre .number,
  pre .literal {
    color: #ae81ff; }
  pre .tag,
  pre .tag .title,
  pre .change,
  pre .winutils,
  pre .flow,
  pre .lisp .title,
  pre .clojure .built_in,
  pre .nginx .title,
  pre .tex .special {
    color: #2973b7; }
  pre .symbol,
  pre .symbol .string,
  pre .value,
  pre .regexp {
    color: #42b983; }
  pre .title {
    color: #83B917; }
  pre .tag .value,
  pre .string,
  pre .subst,
  pre .haskell .type,
  pre .preprocessor,
  pre .ruby .class .parent,
  pre .built_in,
  pre .sql .aggregate,
  pre .django .template_tag,
  pre .django .variable,
  pre .smalltalk .class,
  pre .javadoc,
  pre .django .filter .argument,
  pre .smalltalk .localvars,
  pre .smalltalk .array,
  pre .attr_selector,
  pre .pseudo,
  pre .addition,
  pre .stream,
  pre .envvar,
  pre .apache .tag,
  pre .apache .cbracket,
  pre .tex .command,
  pre .prompt {
    color: #42b983; }
  pre .comment,
  pre .java .annotation,
  pre .python .decorator,
  pre .template_comment,
  pre .pi,
  pre .doctype,
  pre .shebang,
  pre .apache .sqbracket,
  pre .tex .formula {
    color: #b3b3b3; }
  pre .deletion {
    color: #BA4545; }
  pre .coffeescript .javascript,
  pre .javascript .xml,
  pre .tex .formula,
  pre .xml .javascript,
  pre .xml .vbscript,
  pre .xml .css,
  pre .xml .cdata {
    opacity: 0.5; }

.paginator {
  overflow: hidden; }
  .paginator .page-number,
  .paginator .space,
  .paginator .extend.next,
  .paginator .extend.prev {
    display: block;
    float: left;
    height: 30px;
    margin: 0 5px 5px 0;
    padding: 0 1em;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #ddd; }
    .paginator .page-number:hover,
    .paginator .space:hover,
    .paginator .extend.next:hover,
    .paginator .extend.prev:hover {
      color: #fcfcfc;
      background-color: #e54e53;
      border-color: transparent; }
  .paginator .page-number.current {
    color: #fcfcfc;
    background-color: #e54e53;
    border-color: transparent; }

.post-paginator {
  overflow: hidden;
  background-color: #f6f6f6;
  border-radius: 2px;
  margin: 2em 0;
  padding: 20px; }
  .post-paginator .post-prev,
  .post-paginator .post-next {
    width: 50%;
    position: relative;
    padding: 0 20px;
    box-sizing: border-box; }
  .post-paginator .post-prev {
    float: left;
    text-align: left; }
  .post-paginator .post-next {
    float: right;
    text-align: right; }
  .post-paginator a.prev,
  .post-paginator a.next {
    display: inline-block;
    font-size: 0.85em;
    color: #888;
    position: relative; }
    .post-paginator a.prev span,
    .post-paginator a.next span {
      display: block;
      font-size: 0.95em;
      color: #444;
      text-transform: uppercase;
      margin-top: 10px; }
  .post-paginator a.prev {
    padding-left: 30px; }
    .post-paginator a.prev:before {
      position: absolute;
      top: 25%;
      left: 0;
      content: "\e008";
      font-family: "bdfont" !important;
      font-size: 18px; }
  .post-paginator a.next {
    padding-right: 30px; }
    .post-paginator a.next:before {
      position: absolute;
      top: 25%;
      right: 0;
      content: "\e009";
      font-family: "bdfont" !important;
      font-size: 18px; }

footer .copyright {
  padding: 20px;
  text-align: center;
  background-color: #303233; }
  footer .copyright .container {
    overflow: hidden; }
    footer .copyright .container .col-6 {
      width: 50%;
      float: left; }
  footer .copyright .site-info {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px; }
    footer .copyright .site-info a {
      color: #bbb;
      font-size: 14px;
      font-weight: 100; }
      footer .copyright .site-info a:hover {
        color: #ddd;
        text-decoration: underline; }
    footer .copyright .site-info .sep {
      padding: 0 0.5em; }
  footer .copyright .site-contact ul {
    margin: 0; }
    footer .copyright .site-contact ul li {
      display: inline-block;
      padding: 0 8px; }
  footer .copyright .site-contact a {
    color: #bbb;
    font-size: 14px;
    font-weight: 100; }

.ds-thread,
#disqus_thread {
  margin-bottom: 2em; }

.main {
  margin: 30px 0;
  overflow: hidden; }

.container {
  max-width: 700px;
  padding: 0 20px;
  margin: auto;
  transition: all 0.5s ease-in-out 0s; }
  .container .content {
    padding-bottom: 1em; }

@media screen and (min-width: 1024px) {
  .container {
    max-width: 980px;
    padding: 0;
    overflow: hidden; }
    .container .content {
      float: left;
      width: 65.3062%;
      margin: 0; }
    .container .sidebar {
      float: right;
      width: 30.6123%; } }

@media screen and (min-width: 801px) {
  .button-toggle {
    display: none; } }

@media screen and (max-width: 800px) {
  .site-nav .container {
    position: fixed;
    top: 46px;
    left: -200px;
    width: 200px;
    padding: 0;
    margin: 0;
    background: #222;
    z-index: 999;
    transition: left .5s; }
    .site-nav .container .nav-item {
      display: block; }
  .post-thumbnail {
    float: left;
    max-width: 30%;
    margin: 0 20px 0 0; }
  .post-header,
  .post-excerpt {
    margin-left: calc(30% + 20px); } }

@media screen and (max-width: 480px) {
  .post-header,
  .post-excerpt {
    margin-left: 0; } }

@media screen and (max-width: 360px) {
  .post-excerpt {
    display: none; } }

.sidebar .social-links {
  margin-bottom: 25px; }
  .sidebar .social-links ul {
    list-style: none;
    padding: 0; }
  .sidebar .social-links .social-link {
    display: inline-block; }
    .sidebar .social-links .social-link a {
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 8px;
      border-radius: 50%;
      text-align: center; }
      .sidebar .social-links .social-link a .icon {
        line-height: 30px;
        color: #fff; }
      .sidebar .social-links .social-link a:hover {
        opacity: 0.7; }
    .sidebar .social-links .social-link .link-github {
      background-color: #888; }
    .sidebar .social-links .social-link .link-twitter {
      background-color: #00aced; }
    .sidebar .social-links .social-link .link-weibo {
      background-color: #dd4b39; }
    .sidebar .social-links .social-link .link-mail {
      background-color: #4bbf6b; }

.sidebar .widget {
  margin: 0 0 20px 0;
  padding: 20px;
  border-radius: 2px;
  color: #555;
  background: #f6f6f6;
  font-size: 0.933em;
  word-wrap: break-word; }
  .sidebar .widget .widget-title {
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 4px; }
    .sidebar .widget .widget-title:before {
      content: "";
      position: absolute;
      width: 60px;
      bottom: -1px;
      border-bottom: 1px solid #e54e53; }
  .sidebar .widget .widget-content ul {
    list-style: none; }
  .sidebar .widget .widget-content span {
    display: inline-block; }
  .sidebar .widget .widget-content a {
    color: #e54e53; }
    .sidebar .widget .widget-content a:hover {
      text-decoration: underline; }
  .sidebar .widget .widget-content .archive-list {
    height: 200px;
    overflow-y: scroll; }
  .sidebar .widget .widget-content .post-list-item,
  .sidebar .widget .widget-content .archive-list-item {
    padding: 5px 0; }
  .sidebar .widget .widget-content .post-list-link,
  .sidebar .widget .widget-content .archive-list-link {
    color: #777; }
    .sidebar .widget .widget-content .post-list-link:before,
    .sidebar .widget .widget-content .archive-list-link:before {
      display: inline-block;
      padding-right: 5px;
      font-family: "bdfont" !important;
      font-size: 14px;
      content: "\e009";
      vertical-align: middle; }
    .sidebar .widget .widget-content .post-list-link:hover,
    .sidebar .widget .widget-content .archive-list-link:hover {
      color: #e54e53;
      text-decoration: underline; }
  .sidebar .widget .widget-content .archive-list-count {
    padding-left: 5px;
    color: #999; }
    .sidebar .widget .widget-content .archive-list-count:before {
      content: '('; }
    .sidebar .widget .widget-content .archive-list-count:after {
      content: ')'; }
  .sidebar .widget .widget-content .tag-link {
    display: inline-block;
    margin-bottom: 0.5em;
    padding: 0.1em 0.5em;
    border: 1px solid #eee;
    border-radius: 2px;
    background-color: #fff;
    color: #777; }
    .sidebar .widget .widget-content .tag-link:hover {
      color: #e54e53;
      text-decoration: underline; }
  .sidebar .widget .widget-content .item {
    width: 32%; }
  .sidebar .widget .widget-content .wrapper {
    display: inline-block;
    width: 65%;
    height: 18px;
    vertical-align: middle;
    border-radius: 10px;
    background: #ccc; }
    .sidebar .widget .widget-content .wrapper .inner {
      height: 100%;
      background: #e54e53;
      border-radius: 10px; }

.wrapper {
  background-color: #f9f9f9;
  color: #516064;
  overflow: hidden; }

.resume {
  position: relative;
  max-width: 950px;
  margin: 10px auto;
  padding: 0.2em 1em;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 0 5px -1px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  text-align: left; }

.resume-content h2, .resume-content h3, .resume-content h4, .resume-content h5, .resume-content h6 {
  margin: 0.3em 0;
  padding-left: 1em; }
  .resume-content h2:after, .resume-content h3:after, .resume-content h4:after, .resume-content h5:after, .resume-content h6:after {
    display: none; }
  .resume-content h2 a.demo, .resume-content h3 a.demo, .resume-content h4 a.demo, .resume-content h5 a.demo, .resume-content h6 a.demo {
    position: relative;
    margin-left: 0.5em;
    padding: 2px;
    padding-left: 1em;
    vertical-align: middle;
    border: 1px solid #e54e53;
    border-radius: 4px; }
    .resume-content h2 a.demo:before, .resume-content h3 a.demo:before, .resume-content h4 a.demo:before, .resume-content h5 a.demo:before, .resume-content h6 a.demo:before {
      content: "\e010";
      position: absolute;
      top: 0.1em;
      left: 0;
      font-size: 12px;
      font-family: "bdfont" !important;
      color: #e54e53; }
  .resume-content h2 iframe, .resume-content h3 iframe, .resume-content h4 iframe, .resume-content h5 iframe, .resume-content h6 iframe {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding-left: 0.5em; }

.resume-content h2, .resume-content h3 {
  margin: 0.8em 0;
  font-size: 1.1em; }
  .resume-content h2:before, .resume-content h3:before {
    content: "\e00d";
    position: absolute;
    top: 0;
    left: .2rem;
    font-family: "bdfont" !important;
    color: #e54e53; }

.resume-content h4, .resume-content h5, .resume-content h6 {
  font-size: 0.9em;
  border-bottom: none; }

.resume-content blockquote {
  margin: 0.5em 0; }

.resume-content ul {
  margin: 0.2em 0;
  padding-left: 3em; }

.resume-content ol {
  margin: 0.2em 0;
  list-style: none; }
  .resume-content ol li {
    position: relative; }
    .resume-content ol li:before {
      content: "\e009";
      position: absolute;
      top: 0;
      left: -1.5em;
      font-family: "bdfont" !important;
      color: #e54e53; }

.resume-content p {
  margin: 0.2em 0; }

.right-sticky {
  position: absolute;
  top: 100px;
  right: -40px; }
  .right-sticky ul {
    list-style: none; }
    .right-sticky ul li {
      position: relative;
      width: 40px;
      height: 40px;
      margin: 0.3em 0;
      border-radius: 2px;
      background-color: #e54e53;
      text-align: center; }
      .right-sticky ul li i, .right-sticky ul li span {
        display: inline-block;
        margin: 0 auto;
        font-size: 1.2em;
        line-height: 40px;
        color: #fff; }
      .right-sticky ul li i {
        font-size: 1.5em; }
      .right-sticky ul li img {
        position: absolute;
        display: none;
        top: -55px;
        left: -150px;
        width: 150px;
        height: 150px; }
      .right-sticky ul li input {
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
        color: #fff; }
        .right-sticky ul li input:focus {
          outline: none; }
      .right-sticky ul li:hover img {
        display: block; }

@font-face {
  font-family: 'sourcesanspro';
  src: url("/font/sourcesanspro.woff2") format("woff2"), url("/font/sourcesanspro.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

#local-search-input {
  outline: none; }

.button-toggle {
  cursor: pointer; }
